    <!-- Rounds -->
    <div class="rounds">
        <div class="rounds-players">
          <div *ngFor="let player of players">
            <h2>{{ player.name }}</h2>
          </div>
        </div>
  
        <hr *ngIf="!isGameOver() && isGameStarted()" />
  
        <div 
          class="rounds-scores" 
          *ngFor="let round of rounds; index as i">
          <div
            class="rounds-scores-item"
            *ngFor="let player of players; index as j">
            <span [ngClass]="{ 'is-current-round': isLastRound(i), 'is-current-hand': round.hand === j }">
              {{ round.playersData[player.name] }}
            </span>
          </div>
        </div>
  
        <form
          (ngSubmit)="addRound(f)" 
          #f="ngForm"
          *ngIf="!isGameOver() && isGameStarted()">

          <div
              class="rounds-inputs">
              <input
                #scoreInputs
                *ngFor="let player of players; index as i"
                [disabled]="player.isLoser"
                [tabindex]="i + 1"
                type="number"
                [name]="'score' + i"
                required
                [min]="getAllowedMinValue()"
                class="input add-score-input"
                [(ngModel)]="scores[player.name]"
              />
          </div>
  
          <div class="rounds-actions">
            <button 
              type="submit"
              [disabled]="!f.valid">
              Proxima Ronda</button>
            </div>
        </form>

      </div>
  
      <div class="rounds-footer">
          <h3 class="text-center" *ngIf="isGameOver()">Juego Terminado!!</h3>
          <div class="rounds-actions">
            <button (click)="resetGame()">Jugar de nuevo</button>
          </div>
      </div>