    <!-- Rounds -->
    <div class="rounds">
        <div class="rounds-players">
          <div *ngFor="let player of players">
            <h2>{{ player.name }}</h2>
          </div>
        </div>
  
        <hr *ngIf="!isGameOver() && isGameStarted()" />
  
        <div 
          class="rounds-scores" 
          *ngFor="let round of rounds; index as i">
          <div
            class="rounds-scores"
            [ngClass]="{ 'is-current-round': isLastRound(i), 'is-current-hand': round.hand === i }"
            *ngFor="let player of players; index as i"
          >{{ round.playersData[player.name] }}</div>
        </div>
  
        <form
          (ngSubmit)="addRound()" 
          #f="ngForm"
          *ngIf="!isGameOver() && isGameStarted()">

          <div
              class="rounds-inputs">
              <input
                *ngFor="let player of players; index as i"
                [tabindex]="i + 1"
                type="number"
                [name]="'score' + i+1"
                required
                class="input add-score-input"
                [(ngModel)]="scores[player.name]"
              />
          </div>
  
          <button 
            type="submit"
            [disabled]="!f.valid">
            Proxima Ronda</button>
        </form>

      </div>
  
      <div class="rounds-footer">
          <h3 class="text-center" *ngIf="isGameOver()">Juego Terminado!!</h3>
          <button class="btn" (click)="resetGame()">Jugar de nuevo</button>
      </div>