
.round-score {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
  }
  
  .add-score-input {
    width: 100px;
    max-width: 100%;
    text-align: center;
  }
  
  .add-round-form {
    display: contents;
  }

.rounds-players, 
.rounds-scores, 
.rounds-inputs,
.rounds-actions {
    display: flex;
    justify-content: space-around;
    margin: .5rem 0;
}

.rounds-scores-item {
  flex-grow: 1;
  text-align: center;
}

.rounds-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.is-current-round {
    font-weight: bold;
    font-size: 1.5em;
}

.is-current-hand {
    border-bottom: 1px solid #ccc;
}