
.round-score {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
  }
  
  .add-score-input {
    width: 100px;
    max-width: 100%;
    text-align: center;
  }
  
  .add-round-form {
    display: contents;
  }

.rounds-players, 
.rounds-scores, 
.rounds-inputs {
    display: flex;
    justify-content: space-around;
    margin: .5rem 0;
}