.setup-game-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-control {
        display: flex;
        align-items: center;
        width: 100%;
        padding-left: 40%;
        
        &-label {
            padding-right: 1em;
        }
    }
}