<div class="setup-game">
    <h3 class="text-center">Configuración del Juego</h3>
    <form
        #f="ngForm" 
        (ngSubmit)="setupGame()" 
        class="setup-game-form" 
        [formGroup]="formGroup">
        <!--Total Limit-->
        <label 
            for="totalLimit"
            class="setup-game-form-control">
            <span class="setup-game-form-control-label">Limite: </span>
            <input 
                type="number" 
                formControlName="totalLimit"
                name="totalLimit" 
                required
                min="100" 
                max="1000">
        </label>

        <!--Vale -10?-->
        <!-- <label 
            for="discountScore"
            class="setup-game-form-control">
            <input 
                type="checkbox" 
                formControlName="discountScore"
                id="discountScore"
                name="discountScore"/>
            <span class="setup-game-form-control-label">Vale -10?</span>
        </label> -->

        <!-- One Loser Mode -->
        <label 
            for="oneLoserMode"
            class="setup-game-form-control">
            <input 
                type="checkbox" 
                formControlName="oneLoserMode"
                id="oneLoserMode"
                name="oneLoserMode"/>
            <span class="setup-game-form-control-label">Se termina cuando el primer jugador pierde?</span>
        </label>

        <button 
            type="submit"
            [disabled]="!f.valid">Comenzar Juego</button>
    </form>
</div>
